<h1> SONGS </h1>

<ul>
    <% @songs.each do |s| %>
    <li>
        <p class="title"> <%= s.title %> </p>
        <p class="artist"> Artist: <%= s.artist %> </p>
        <p class="album"> Album: <%= s.album%> </p>
        <% if !current_user.favorite_songs.exists?(s.id)%>
            <% p '*' * 100 %>
            <% p params %>
            <p class="heart">¿Te gusta? <%= link_to '♥', favorites_user_path(current_user, song_id: s.id, region_id: params[:region_id], genre_id: params[:genre_id]), method: :put %></p>
        <% else%>
            <p> ♥ </p>
        <% end %>
    </li>   
    <% end %>
</ul>

<p> DON'T SEE A CERTAIN SONG?</p>
<p> <span>¡Ay, caramba!</span> </p>
<%= link_to 'ADD A SONG +', new_song_path %>