<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @song.region.name %>
</p>

<p>
  <% unless @song.album_cover.attachment.nil? %>
      <%= image_tag @song.album_cover.service_url %>
  <% else %>
      <%= image_tag 'album-cover.png' %>
  <% end %> 
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', my_songs_path %>
